<div class="wrapper wrapper-content p-x1">
	<div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Solution Stats</h5>
                    </div>
                    <div class="ibox-content">
                        {{ solutionCtrl.solution.views }} <span ng-if="solutionCtrl.solution.views > 1 || solutionCtrl.solution.views == 0">views</span><span ng-if="solutionCtrl.solution.views == 1">view</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="idea-element">                                                              
                                <div class="idea-body">
                                    <div id="issue">
                                        <p style="font-size:18px;"><strong ng-bind-html="util.trustAsHtml(solutionCtrl.solution.issue.detail)"></strong></p>
                                    </div>
                                    
                                    <div id="solution-detail">
                                        <div id="solution-headline">
                                            <strong>{{ solutionCtrl.solution.user.name }}'s Proposed Solution</strong>
                                        </div>
                                        <div class="idea-header">
                                            <a ui-sref="profile" class="pull-left">
                                                <img alt="image" class="img-circle" src="assets/images/profile.jpg" />
                                            </a>
                                            &nbsp;&nbsp;
                                            {{ solutionCtrl.solution.user.name }}
                                            
                                            <span class="pull-right" style="margin-right:20px;">{{ solutionCtrl.solution.created_at | formatDate:'':'DD/MM/YYYY' }}</span>
                                        </div>
                                        <div id="solution-content" ng-bind-html="util.trustAsHtml(solutionCtrl.solution.detail)">
                                         </div>
                                    </div>
                                </div>
                                <a ng-click="solutionCtrl.voteService.upVoteSolution(solutionCtrl.solution)" ng-class="{ 'btn-default': solutionCtrl.voteService.votes.up[solutionCtrl.solution.id], 
                                'btn-primary': !solutionCtrl.voteService.votes.up[solutionCtrl.solution.id] }" class="btn btn-primary">
                                    <span ng-if="solutionCtrl.voteService.votes.up[solutionCtrl.solution.id]">Upvoted </span>
                                    <span ng-if="!solutionCtrl.voteService.votes.up[solutionCtrl.solution.id]">Upvote </span>
                                    <span ng-if="solutionCtrl.solution.up_vote > 0">({{solutionCtrl.solution.up_vote}})</span>
                                </a>&nbsp;&nbsp;
                                <a ng-click="solutionCtrl.voteService.downVoteSolution(solutionCtrl.solution)">
                                    <span class="text-muted" ng-if="solutionCtrl.voteService.votes.down[solutionCtrl.solution.id]">Downvoted</span>
                                    <span ng-if="!solutionCtrl.voteService.votes.down[solutionCtrl.solution.id]">Downvote</span>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#/solutions/edit/{{solutionCtrl.solution.id | hashId}}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a ng-click="solutionCtrl.solution.confirmTrue = true">Delete</a>&nbsp;&nbsp;
                                <span ng-if="solutionCtrl.solution.confirmTrue">
                                    <span class="text-warning">Are you sure?</span>
                                    <button ng-click="solutionCtrl.deleteSolution(solutionCtrl.solution.id)" class="btn btn-info btn-circle">Yes</button>
                                    <button ng-click="solutionCtrl.solution.confirmTrue=false;" class="btn btn-warning btn-circle">No</button>
                                </span>
                                <img ng-show="solutionCtrl.solution.voteLoading" style="margin-left: 5px;"
                                     src="../../assets/images/ajax-loader.gif" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
	</div>
</div>