<div class="wrapper wrapper-content p-x1">
	<div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Solution Stats</h5>
                    </div>
                    <div class="ibox-content">
                        {{ solutionCtrl.solution.views }} <span ng-if="solutionCtrl.solution.views > 1 || solutionCtrl.solution.views == 0">views</span><span ng-if="solutionCtrl.solution.views == 1">view</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="idea-element">                                                              
                                <div class="idea-body">
                                    <div id="issue">
                                        <p style="font-size:18px;"><strong>Boko Haram has been getting in the way of education in the country due to their tendency to kidnap girls. This has caused a painful decline in the willingness of many women to go to school.</strong></p>
                                    </div>
                                    
                                    <div id="solution-detail">
                                        <div id="solution-headline">
                                            <strong>Tope's Proposed Solution</strong>
                                        </div>
                                        <div class="idea-header">
                                            <a ui-sref="profile" class="pull-left">
                                                <img alt="image" class="img-circle" src="assets/images/profile.jpg" />
                                            </a>
                                            &nbsp;&nbsp;
                                            Tope Fasua
                                            
                                            <span class="pull-right" style="margin-right:20px;">12 January 2014</span>
                                        </div>
                                        <div id="solution-content">
                                            <!--<p><a href="#" class="idea-problem"><!--<strong>Problem</strong>--><!--<strong ng-bind-html="util.trustAsHtml(solutionCtrl.solution.issue.detail)"></strong></a></p>-->
                                            <!--<span ng-bind-html="util.trustAsHtml(solutionCtrl.solution.detail)"></span>-->
                                            <p>Once upon a time, there was a country where people did not have to worry about anything. All they had to worry about was putting food on their tables, getting their salaries and paying their children's school fees. How about we all move to a parallel universe where Boko Haram does not exist?</p>

                                            <p>One other thing that we could do is to explore the many-worlds hypothesis and simply take a different path that would launch us into a different trajectory.</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary">Upvote (10)</a>&nbsp;&nbsp;<a href="#">Downvote</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
	</div>
</div>