<div class="ibox float-e-margins">
    <style>
        .solution-text span {
            font-size: 13px !important;
            font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            line-height: 1.4 !important;
        }

    </style>
    <div class="ibox-content">
        <div class="idea-element">
            <div class="idea-header">
                <a ui-sref="profile" class="pull-left">
                    <img alt="image" class="img-circle" src="assets/images/profile.jpg"/>
                </a>
                &nbsp;&nbsp;
                {{issue.user.name}}

                                    <span style="margin:3px"  ng-repeat="category in issue.categories"
                                          class="pull-right label label-success">{{category.category}}</span>
                <span class="pull-right" style="margin-right:20px;">{{issue.created_at | formatDate:'':'DD/MM/YYYY'}}</span>
            </div>

            <div class="idea-body">

                <p><a href="#/issue/{{issue.id | hashId }}" href class="idea-problem">

                    <!--<strong>Problem</strong>-->
                    <strong ng-bind-html="util.trustAsHtml(issue.detail)">
                    </strong></a></p>

            </div>
            <div ng-show="issue.solutions.length > 0">
                <p class="solution-text"><span  ng-bind-html="util.trustAsHtml(issue.solutions[0].detail) |  limitTo:350"></span>
                    <a  ng-if="issue.solutions[0].showMore" ui-sref="idea-detail({ ideaId: 1 })"> More</a></p>
                <a ng-click="upVoteSolution(issue.solutions[0])"
                   class="btn" ng-class="{'btn-default': votes.up[issue.solutions[0].id],
                                        'btn-primary':  !votes.up[issue.solutions[0].id] }">
                    <span ng-if="votes.up[issue.solutions[0].id]">Upvoted </span>
                    <span ng-if="!votes.up[issue.solutions[0].id]">Upvote </span>
                    <span ng-if="issue.solutions[0].up_vote > 0">({{issue.solutions[0].up_vote}})</span></a>&nbsp;&nbsp;
                <a ng-click="downVoteSolution(issue.solutions[0])">
                                        <span class="text-muted"
                                              ng-if="votes.down[issue.solutions[0].id]">Downvoted</span>
                    <span ng-if="!votes.down[issue.solutions[0].id]">Downvote</span></a>
                <img ng-show="issue.solutions[0].voteLoading" style="margin-left: 5px;"
                     src="../../assets/images/ajax-loader.gif" alt=""/>
            </div>
            <div>
                <!--No solution posted.-->
            </div>

        </div>
    </div>
</div>