<div class="wrapper wrapper-content p-x1">
    <div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Issue Stats</h5>
                    </div>
                    <div class="ibox-content">
                        <p>{{issueCtrl.issue.views | number}} views</p>

                        <p>{{issueCtrl.issue.solutions.length}} <span ng-if="issueCtrl.issue.solutions.length > 1 || issueCtrl.issue.solutions.length == 0">solutions</span><span ng-if="issueCtrl.issue.solutions.length == 1">solution</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="ibox float-e-margins" id="problem-section" style="">
                        <div class="ibox-content">
                            <div class="idea-element">
                                <div class="idea-header">
                                    <a ui-sref="profile" class="pull-left">
                                        <img alt="image" class="img-circle" src="assets/images/profile.jpg"/>
                                    </a>
                                    &nbsp;&nbsp;
                                    {{issueCtrl.issue.user.name}}

                                    <span ng-repeat="tag in issueCtrl.issue.categories"
                                          class="pull-right label label-success">{{tag.category}}</span>
                                    <span class="pull-right" style="margin-right:20px;">{{issueCtrl.issue.created_at | formatDate:'':'DD MMM YYYY'}}</span>
                                </div>

                                <div class="idea-body" style="font-size: 16px;">
                                    <p><strong>
                                        {{issueCtrl.issue.detail}}
                                    </strong>
                                    </p>
                                </div>
                                
                                <div class="solution_proposal" style="overflow:auto;padding:10px;">
                                    <form role="form" name="solutionForm">
                                        <div class="form-group">
                                            <div summernote class="summernote" />
                                        </div>
                                        <div>
                                            <button ng-click=""
                                                    class="btn btn-w-m btn-white" style="margin-right: 10px">Save as Draft
                                            </button>
                                            <button ng-click="" class="btn btn-primary">Post Solution
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<hr>-->
                </div>
                <div class="row" ng-hide="issueCtrl.issue.solutions.length == 0">
                    <div class="ibox float-e-margins" style="">
                        <div class="ibox-title">
                            <strong>{{issueCtrl.issue.solutions.length}} <span ng-if="issueCtrl.issue.solutions.length > 1 || issueCtrl.issue.solutions.length == 0">solutions</span><span ng-if="issueCtrl.issue.solutions.length == 1">solution</span></strong>
                        </div>
                        <div class="ibox-content" style="overflow:auto;">
                            <div class="idea-element" ng-repeat="solution in issueCtrl.issue.solutions">
                                <div class="idea-header">
                                    <a ui-sref="profile" class="pull-left">
                                        <img alt="image" class="img-circle" src="assets/images/profile.jpg"/>
                                    </a>
                                    &nbsp;&nbsp;
                                    {{solution.user.name}}

                                    <!--<span class="pull-right label label-success">Education</span>-->
                                    <span class="pull-right" style="margin-right:20px;">{{solution.created_at | formatDate:'':'DD MMM YYYY'}}</span>
                                </div>

                                <div class="idea-body">
                                    <p>{{solution.detail}} <a ui-sref="idea-detail( {ideaId: 1} )">More</a></p>
                                </div>
                                <a href="#" class="btn btn-primary">Upvote (10)</a>&nbsp;&nbsp;<a href="#">Downvote</a>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>