<div id="solution-detail" infinite-scroll="profileCtrl.loader.loadMore(profileCtrl.solutions)"
     infinite-scroll-immediate-check="false">
    <div id="profile-title-headline">
        <h2><strong><ng-pluralize count="profileCtrl.solutions.total"
                                  when="{
                          '0': 'You haven\'t posted any solution.',
                          '1': '{} Solution',
                          'other': '{} Solutions'}">
        </ng-pluralize></strong></h2>
    </div>
    <div class="profile-element" ng-repeat="solution in profileCtrl.solutions.data">
        <!--<div class="idea-header">-->
            <!--<a ui-sref="profile" class="pull-left">-->
                <!--<img alt="image" class="img-circle" src="assets/images/profile.jpg" />-->
            <!--</a>-->
            <!--&nbsp;&nbsp;-->
            <!--Tope Fasua-->
        <!--</div>-->
        <div class="issue-content">
            <span class="pull-right" style="margin-right:20px;">{{solution.created_at | formatDate:'':'DD MMM YYYY'}}</span>
            <strong ng-bind-html="util.trustAsHtml(solution.issue.detail)"></strong>
        </div>
        <div id="solution-content">
         <p ng-bind-html="util.trustAsHtml(solution.detail)"></p>

        </div>
        <p><a ng-if="solution.votes.length > 0" href="#" class="btn btn-primary"
              ng-disabled="true">Upvotes ({{solution.votes.length}})</a>
            <a style="margin-right: 5px" href="#/solutions/edit/{{solution.id | hashId}}">Edit</a>
            <a style="margin-right: 5px" href ng-click="solution.confirmTrue=true;">Delete</a>
            <span ng-if="solution.confirmTrue">
                <span class="text-warning">Are you sure?</span>
            <button ng-click="profileCtrl.deleteSolution($index, solution.id)" class="btn btn-info btn-circle">Yes</button>
            <button ng-click="solution.confirmTrue=false;" class="btn btn-warning btn-circle">No</button>
            </span>

        </p>
    </div>
</div>