<div id="solution-detail" infinite-scroll="profileCtrl.loader.loadMore(profileCtrl.issues)"
     infinite-scroll-immediate-check="false">
    <div id="profile-title-headline">
        <h2><strong>
            <ng-pluralize count="profileCtrl.issues.total"
                          when="{
                          '0': 'You haven\'t posted any issue.',
                          '1': '{} Issue',
                          'other': '{} Issues'}">
            </ng-pluralize>
        </strong></h2>
    </div>
    <div class="profile-element" ng-repeat="issue in profileCtrl.issues.data">
        <div class="idea-header">
            <span ng-repeat="category in issue.categories"
                  class="pull-left label label-success" style="margin-right:5px;">{{category.category}}</span>
            <span class="pull-right"
                  style="margin-right:20px;">{{issue.created_at | formatDate:'':'DD MMM YYYY'}}</span>
        </div>
        <div class="idea-body">
            <a href="#/issue/{{issue.id | hashId}}" style="color: #000000">
                <p style="font-size:15px"><strong ng-bind-html="issue.detail"></strong></p>
            </a>

            <p><a style="margin-right: 5px" ng-if="issue.solutions.length > 0" href="#/issue/{{issue.id | hashId}}">View
                {{issue.solutions.length}}
                <ng-pluralize count="issue.solutions.length"
                              when="{'1': 'solution',
                     'other': 'solutions'}">
                </ng-pluralize>
            </a>
                <a style="margin-right: 5px" href="#/issues/edit/{{issue.id | hashId}}">Edit</a>
                <a style="margin-right: 5px" href ng-click="issue.confirmTrue=true;">Delete</a>
            <span ng-if="issue.confirmTrue">
                <span class="text-warning">Are you sure?</span>
                <button ng-click="profileCtrl.deleteIssue($index, issue.id)" class="btn btn-info btn-circle">Yes</button>
                <button ng-click="issue.confirmTrue=false;" class="btn btn-warning btn-circle">No</button>
            </span>
            </p>
        </div>
    </div>
</div>