<div class="wrapper wrapper-content p-x1">
    <div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <h5>Categories</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li ng-repeat="category in homeCtrl.categories">
                                    <a href="#/tagged/{{category.category}}">{{category.category}} <span class="label label-info pull-right">{{category.issue_count}}</span></a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9" infinite-scroll="homeCtrl.loadMore()"
                 infinite-scroll-immediate-check="false">
                <div  class="row" ng-repeat="issue in homeCtrl.issues.data">
                    <issue-card issue="issue" user="homeCtrl.user"></issue-card>
                </div>
            </div>
        </div>
    </div>
</div>