<div class="wrapper wrapper-content p-x1">
    <div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <h5>Categories</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li ng-repeat="category in homeCtrl.categories">
                                    <a href="#/tagged/{{category.category}}">{{category.category}} <span class="label label-info pull-right">{{category.issue_count}}</span></a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" ng-repeat="issue in homeCtrl.issues | limitTo: 10">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="idea-element">
                                <div class="idea-header">
                                    <a ui-sref="profile" class="pull-left">
                                        <img alt="image" class="img-circle" src="assets/images/profile.jpg"/>
                                    </a>
                                    &nbsp;&nbsp;
                                    {{issue.user.name}}

                                    <span style="margin:3px" class="pull-right" style="margin-right:20px;">{{issue.created_at | formatDate:'':'DD/MM/YYYY'}}</span>
                                    <span style="margin:3px"  ng-repeat="category in issue.categories"
                                          class="pull-right label label-success">{{category.category}}</span>
                                </div>

                                <div class="idea-body">
                                    <p><a href="#/issue/{{issue.id | hashId }}" href class="idea-problem">
                                        <!--<strong>Problem</strong>-->
                                        <strong>
                                            <span ng-bind-html="util.trustAsHtml(issue.detail)"></span>
                                        </strong></a></p>

                                </div>
                                <div ng-show="issue.solutions.length > 0">
                                    <p><!--<strong>Solution</strong>--> <span ng-bind-html="util.trustAsHtml(issue.solutions[0].detail) | limitTo:300"></span>
                                    <a href="#/solutions/{{issue.solutions[0].id | hashId}}"> More</a></p>
                                    <a ng-click="homeCtrl.upVoteSolution(issue.solutions[0])"
                                       class="btn" ng-class="{'btn-default': homeCtrl.votes.solutions.up[issue.solutions[0].id],
                                        'btn-primary':  !homeCtrl.votes.solutions.up[issue.solutions[0].id] }">
                                        <span ng-if="homeCtrl.votes.solutions.up[issue.solutions[0].id]">Upvoted </span>
                                        <span ng-if="!homeCtrl.votes.solutions.up[issue.solutions[0].id]">Upvote </span>({{issue.solutions[0].up_vote}})</a>&nbsp;&nbsp;
                                    <a ng-click="homeCtrl.downVoteSolution(issue.solutions[0])">
                                        <span class="text-muted"
                                              ng-if="homeCtrl.votes.solutions.down[issue.solutions[0].id]">Downvoted</span>
                                        <span ng-if="!homeCtrl.votes.solutions.down[issue.solutions[0].id]">Downvote</span></a>
                                    <img ng-show="issue.solutions[0].voteLoading" style="margin-left: 5px;"
                                         src="../assets/images/ajax-loader.gif" alt=""/>
                                </div>
                                <div>
                                    <!--No solution posted.-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>