<div class="container padding-1x">
    <div class="row wrapper border-bottom white-bg page-heading page-title">
        <div class="col-lg-9">
            <h2>{{searchCtrl.issues.total}} results for: "{{searchCtrl.term}}"</h2>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content p-x1">
    <div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Display search results by:</h5>
                    </div>
                    <div class="ibox-content">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <a ui-sref="#">Relevance</a>
                            </li>
                            <li class="list-group-item">
                                <a ui-sref="#">Date</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" ng-repeat="row in searchCtrl.issues.data ">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="idea-element">
                                <div class="idea-header">
                                    <a ui-sref="profile" class="pull-left">
                                        <img alt="image" class="img-circle" src="assets/images/profile.jpg"/>
                                    </a>
                                    &nbsp;&nbsp;
                                   {{row.user.name}}

                                     <span style="margin:3px"  ng-repeat="category in row.categories"
                                           class="pull-right label label-success">{{category.category}}</span>
                                    <span class="pull-right" style="margin-right:20px;">{{row.created_at | formatDate:'':'DD MMM YYYY'}}</span>
                                </div>

                                <div class="idea-body">
                                    <p><a ui-sref="idea-detail({ ideaId: 1 })" class="idea-problem">
                                       <strong ng-bind-html="util.trustAsHtml(row.detail)"></strong></a>
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>