<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">BN</h1>

        </div>
        <h3>Welcome to BuildNigeria</h3>

        <p>We created this platform for the best minds in Nigeria to contribute great ideas toward rebuilding our great country.</p>

        <p>If you are passionate about Nigera and believe now is the time for CHANGE. Sign up today and post your BIG bold ideas for the new Nigeria.</p>

        <form class="m-t" role="form" action="#" style="margin-bottom:30px">
            <a ng-click="loginCtrl.signUpWithFacebook()" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Sign Up with Facebook
            </a>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </form>
		<form class="m-t" role="form" action="#" style="margin-bottom:30px">
            <a ng-click="loginCtrl.signUpWithFacebook()" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Log in with Facebook
            </a>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </form>
		<p class="text-muted text-center"><small><a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms</a></small></p>
        <p class="m-t">
            <small>BuildNigeria &copy; 2014</small>
        </p>
    </div>
</div>
