<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <div style="">

                <img src="assets/images/bn-logo-360px.png" class="scaled-image"/>

            </div>
            <h2 class="font-bold">Welcome</h2>

            <p>We created this platform for the best minds in Nigeria to contribute well-thought-out ideas toward
                rebuilding our great country, Nigeria.</p>

            <p>If you are passionate about Nigeria and believe now is the time for <strong>change</strong>, <a
                    ui-sref="register">Sign Up</a> today and post some innovative ideas for the new Nigeria</a></p>

            <p>
                <small>By signing up, you indicate that you have read and agree to the Terms of Service</small>
            </p>
        </div>

        <div class="col-md-6">
            <div class="login-form" style="">
                <div class="ibox-content">
                    <form class="m-t" role="form" >
                        <a ng-click="loginCtrl.signUpWithFacebook()" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Log in with Facebook
                        </a><br/>

                        <p>
                            <small>Not a fan of social media? Fair enough, use your email.</small>
                        </p>
                    </form>
                    <div class="alert alert-warning" ng-show="loginCtrl.errors.length > 0">
                        <ul class="unstyled" style="padding: 0px">
                            <li ng-repeat="error in loginCtrl.errors">{{error}}</li>
                        </ul>
                    </div>
                    <form class="m-t" role="form"
                          name="emailLogin" ng-submit="loginCtrl.loginWithEmail(emailLogin)"
                          style="text-align:left;overflow:auto;margin-bottom:15px;"
                            novalidate>
                        <div class="form-group"
                             ng-class="{'has-error': emailLogin.email.$invalid && ( !emailLogin.email.$pristine || emailLogin.submitted ) }">
                            <!--<label for="username">Username</label>-->
                            <input type="email" name="email" class="form-control" placeholder="Email"
                                   ng-model="loginCtrl.user.email"
                                   required/>
                            <span ng-show="emailLogin.email.$invalid && (!emailLogin.email.$pristine || emailLogin.submitted )"
                                  class="help-block"><small>Email is required.</small></span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': emailLogin.password.$invalid && ( !emailLogin.password.$pristine || emailLogin.submitted ) }">
                            <!--<label for="password">Password</label>-->
                            <input type="password" name="password" ng-model="loginCtrl.user.password" class="form-control"
                                   placeholder="Password" required/>
                             <span ng-show="emailLogin.password.$invalid && ( !emailLogin.password.$pristine || emailLogin.submitted )"
                                   class="help-block"><small>Password is required.</small></span>
                        </div>
                        <div class="remember-forgot">
                            <!--<label>-->
                                <!--<input class="pull-left" type="checkbox"> &nbsp;-->
                                <!--<small>Remember me</small>-->
                            <!--</label>-->
                            <small><a class="pull-right" href="#">Forgot my password</a></small>
                        </div>
                        <button  class="btn btn-primary col-md-12">Login</button>
                    </form>
                    <small><p>Don't have an account yet? </p></small>
                    <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p class="text-muted">
                <small><a ui-sref="about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="privacy">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        ui-sref="terms">Terms</a></small>
            </p>
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>